.form-content{
  width: 450px;
  height: auto;
  background-color: var(--white-bg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
}

.form-input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid var(--ligh-grey);
  border-radius: 10px;
}

.form-button{
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: var(--details);
  color: white;
  cursor: pointer;
  transition: all .5s;
}

.form-button:hover{
  background-color: #be1b05;
}

.footer-info{
  margin-top: 10px;
}

.footer-info button {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  color: var(--details);
  text-decoration: underline;
  cursor: pointer;
}