.home-container{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  width: 100%;
  min-height: 100vh;
  color: black;
}

.home-content{
  margin-top: 10px;
  width: 60%;
}

@media (max-width: 900px){
  .home-content{
    width: 90%;
  }
}