.user-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  color: black;
  height: 100%;
}

.user-content{
  margin-top: 10px;
  width: 60%;
  background-color: var(--white-bg);
  height: auto;
  margin: 50px 0;
  border-radius: 5px;
  padding: 1%;
}

.user-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-info-title{
  font-size: 2rem;
  font-weight: 500;
}

.user-info-subtitle{
  font-size: 1.1rem;
  color: var(--light-grey);
}

.user-info-description{
  margin-top: 10px;
  text-align: justify;
}

.user-header-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.user-header-left > img {
  border-radius: 10%;
  width: 90%;
  cursor: pointer;
}

.user-header-left > input{
  display: none;
}

.user-header-left div {
  margin-top: 10px;
  width: 100%;
}

.user-header-left b {
  font-weight: 500;
}

.user-header-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

hr {
  margin: 5% 10px;
  border: 1px solid var(--main-bg-color);
}

.user-section-content{
  padding: 0 50px;
}

.user-section-header{
  display: flex;
  justify-content: space-between;
}

.user-section-title{
  font-size: 2rem;
  font-weight: 500;
}

.user-info-button{
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  width: 100%;
}

.change-info-button{
  font-family: inherit;
  font-weight: 500;
  width: auto;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 10px 30px;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  cursor: pointer;
  transition: all .2s;
}

.change-info-button:hover{
  color: white;
  background-color: var(--main-bg-color);
}

.user-logout-button{
  border-radius: 5px;
  padding: 10px 30px;
  border: 2px solid var(--details);
  color: var(--details);
  cursor: pointer;
  transition: all .2s;
}

@media (max-width: 900px){
  .user-content{
    width: 90%;
  }
  .user-container{
    justify-content: center;
  }
  .user-header{
    flex-direction: column;
  }
  .user-header-left{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .user-header-left img{
    width: 25%;
    margin-right: 10px;
  }
  .user-header-right{
    width: 100%;
    padding: 10px;
  }
  .user-info-title{
    font-size: 1.5rem;
  }
  .user-section-content{
    padding: 0 25px;
  }
  .user-info-button{
    justify-content: center;
  }
}