.usercard-info-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--white-bg);
  align-items: center;
  transition: all .2s;
}

.usercard-info-container:not(:first-child){
  margin-top: 5%;
}

.usercard-info-container:last-child{
  margin-bottom: 5%;
}

.usercard-info-container:hover{
  transform: scale(1.01);
}

.usercard-info-image{
  border-radius: 10%;
  width: 120px;
  cursor: pointer;
}

.usercard-info-right{
  margin-left: 40px;
  flex-direction: column;
  display: flex;
}

.usercard-info-title{
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s;
}

.usercard-info-title:hover{
  color: var(--details);
}

.usercard-info-subtitle{
  color: #646464;
}

.usercard-info-description{
  margin-top: 10px;
  text-align: justify;
}

.usercard-info-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usercard-info-header div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.usercard-info-link{
  font-weight: 500;
  font-size: 1rem;
  color: var(--details);
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 900px){
  .usercard-info-image{
    width: 60px;
    margin-right: 10px;
  }

  .usercard-info-right{
    margin: 0;
  }
}