:root {
  --main-bg-color: #363945;
  --ligh-grey: #8a8989;
  --white-bg: #edf2f4;
  --details: #f4442e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
  width: auto;
  height: auto;
  font-family: 'Roboto';
  font-weight: 300;
}